* {
  margin: 0px;
  padding: 0px;
 /*	outline: 1px red dashed; */
 }

header {
  text-align: center;
  margin: auto;
  color: #ddd;
  background-color: #777777;
}

h1 {
  font-family: Arial;
}

h3 {
  text-decoration: underline;
}

section ol {
  float: right;
  text-align: left;
}

section:first-child {
  margin: 30px 0px 0px 30px;
}

section:nth-child(2) {
	text-align: center;
}

section:nth-child(3) {
  margin: 30px 30px 0px 0px;
  text-align: right;
	z-index: 1;
}

span {
  font-weight: bolder;
  color: #a00;
}

figure {
  margin: 30px 0px 0px 0px;
}

footer {
  position: absolute;
  bottom: 0px;
	width: 100%;
  text-align: center;
  background-color: #777;
	z-index: 0;
	clear: both;
}

a {
  color: #000;
}

a:hover {
  color: #fff;
}

.button {
  margin-top: 30px;
	cursor: pointer;
	padding-top: 10px;
	display: inline-block;
	height: 30px;
	width: 200px;
	text-align: center;
	background-color: #a00;
	color: #ddd;
}

.button:hover {
	background-color: #ddd;
	color: #a00;
}
